﻿@{
    ViewData["Title"] = "Complete Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewData["Title"]</h2>
<ul>
    <li>HTML/CSS Projects</li>
    <li>C# Gym membership manager</li>
    <li>ASP.NET Assignment (By the time you see this)</li>
</ul>
@await Html.PartialAsync("_Sidebar")