﻿@{
    ViewData["Title"] = "Current Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewData["Title"]</h2>
<ul>
    <li>MVC ASPNET Project (You're looking at it)</li>
    <li>Module 2 Database assignment</li>
</ul>
@await Html.PartialAsync("_Sidebar")