﻿@{
    ViewData["Title"] = "Ideas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewData["Title"]</h2>
<ul>
    <li>Develope some sort of videogame</li>
    <li>Music</li>
    <li>Coding Projects</li>
</ul>
@await Html.PartialAsync("_Sidebar")